<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Login Page</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username_field" name="username_field" placeholder="Enter Username..">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password_field" name="password_field" placeholder="Enter Password..">
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>